
<div ng-attr-id="{{updateCtrl.modalId}}" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row form-group">
					<label for="usr">Name:</label>
					<input type="text" id="usr" ng-model="updateCtrl.name">
				</div>
				<br><textarea class="row form-control" rows="4" cols="50" ng-model="updateCtrl.message">

				</textarea>
				<br>
			</div>
			<div class="modal-footer">
				<div class="row">
					<div class="col-md-6 text-left">
						<div class="btn btn-primary btn-lg" data-dismiss="modal" href="#" role="button">
							Cancel
						</div>
					</div>
					<div class="col-md-6 text-right">
						<a ng-hide="updateCtrl.submitting || updateCtrl.isBlank()" class="btn btn-primary btn-lg" data-dismiss="modal" href="#" role="button" ng-click="updateCtrl.submit()">
							Submit
						</a>
						<div ng-show="updateCtrl.submitting || updateCtrl.isBlank()" class="btn btn-ln disabled" >Submit</div>
					</div>
					<span class="confirmation" ng-show="updateCtrl.confirmation && updateCtrl.isBlank()">{{updateCtrl.confirmation}}</span>
					<span class="error" ng-show="updateCtrl.errorMsg && updateCtrl.isBlank()">{{updateCtrl.errorMsg}}</span>
				</div>
			</div>
		</div>
	</div>
</div>
