<br>
<p class="text-left">
Welcome to InterSeed, a real-time prayer request tracker for your small group. To register, simply add your group's name and the day you meet. Once you register, your link will be <span class="confirmation">www.church.longlined.com/[your-name]</span>. Have members add requests during your prayer time or throughout the week, and check the main page to pray for your group.
</p>
<p>
If you split into prayer groups during small group, the requests list for this week will udpdate automatically as people add requests (think newsfeed, but for prayer...PrayFeed), so there's no need to ever refresh.
</p>
