<br>
<p class="text-left">
Welcome to SG prayer. This is a simple app that lets your small group keep track of prayer requests in a given week. To register, simply add your group's name and the day you meet. Once you register, your link will be www.church.longlined.com/[your-name]. Have members add requests during your prayer time or throughout the week, and check back at your link throughout the week to pray for your small group. 
</p>
<p>
If you split into prayer groups during small group, the requests list for this week will udpdate automatically as people add requests, so there's no need to ever refresh.
</p>
