

		<h2>Prayer Requests for {{updateCtrl.group}}</h2>
		<p>Please input your prayer request here</p>
		<div class="form-group">
			<label for="usr">Name:</label>
			<input type="text" id="usr" ng-model="updateCtrl.name">
		</div>
		<br><textarea class="form-control" rows="4" cols="50" ng-model="updateCtrl.message">

		</textarea>
		<br>
		<div class="row"><a class="btn btn-primary btn-lg" href="#" role="button" ng-click="updateCtrl.submit()">Submit</a>


			<span class="confirmation" ng-show="updateCtrl.confirmation && updateCtrl.isBlank()">{{updateCtrl.confirmation}}</span>
			<span class="error" ng-show="updateCtrl.errorMsg && updateCtrl.isBlank()">{{updateCtrl.errorMsg}}</span>
		</div>
	

