<div ng-hide="mainCtrl.isGroupValid()">
	<h1 class="text-center">	Welcome to InterSeed</h1>
	<p>
	If you would like to register a group, please register below (use hyphens to separate words for an easy URL). Otherwise, please visit the group's custom URL
	</p>
	<p>What is your group's name?<input type-"text" ng-model="mainCtrl.newGroupName"></p>
	<p>What day do you meet?<select ng-model="mainCtrl.day" ng-options="key for key in mainCtrl.days"></select></p>
	<button class="btn btn-primary" type="submit" ng-click="mainCtrl.submit()">Register</button>	
</div>
<div ng-show="mainCtrl.confirmation" class="confirmation"> 
	<a target="_self" class="confirmation" ng-href="{{mainCtrl.lnk}}">
		{{mainCtrl.confirmation}}
	</a>
</div>
<div ng-show="mainCtrl.msg">
	{{mainCtrl.msg}}
</div>

<div ng-show="mainCtrl.isGroupValid()">
	<requests-summary></requests-summary>	
</div>


