
<div class="jumbotron">
	<div class="container">
		<div ng-hide="mainCtrl.group">
			<h1 class="text-center">	Welcome to SG Prayer!</h1>
				<p>
			It looks like you haven't specified a group. If you would like to register one, please register below. If you already have one, please enter the name below and hit submit
			</p>
			<p>What is your group's name?<input type-"text" ng-model="mainCtrl.newGroupName"></p>
			<p>What day do you meet?<select ng-model="mainCtrl.day" ng-options="key for key in mainCtrl.days"></select></p>
			<button class="btn btn-primary" type="submit" ng-click="mainCtrl.submit()">Register</button>	
		</div>
		<div ng-show="mainCtrl.msg" class="confirmation"> <a target="_self" class="confirmation" ng-href="{{mainCtrl.lnk}}">{{mainCtrl.msg}}</a></div>

		<div ng-show="mainCtrl.group">
			<requests-summary></requests-summary>	
		</div>
	</div>
</div>
