.confirmation {
  color: 	#00CC33;
}
.error {
  color: red;
}
* {
  font-family: 'Raleway', sans-serif;
}
.disabled {
  color: gray;
}
.request-box {

  box-shadow: 3px 3px 2px 2px gray;
  border-color: #D0D0D0;
  margin-bottom: 2%;
  padding: 1% 5% 1% 5%;
  background: #FAFAFA;
}

.modal-content {
  padding: 2% 3% 3% 2%;
}
.btn-circle {
  border-radius: 30px;
}
.jumbotron {
  height: 100%;
  display: block;
  box-shadow: none;
}
.request-container {
  display: block;
  left: 0;
  right: 0;
  width: 100%;
  height: 70%;
  overflow: scroll;
  position: absolute;
  background: #EEEEEE;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 3%;
  -webkit-overflow-scrolling: touch;
}

.add-button {
  position: fixed;
  bottom: 5%;
  right: 5%;
  box-shadow: 3px 3px 2px 2px gray;
}
@media screen and (max-device-width: 320px) {
	.modal-dialog {
		height: 100%;
		width: 100%;
		padding-left: 1%;
		padding-right: 1%;
}
}
.modal-open {
	overflow-y: auto;
}
body {
	padding-right: 0px !important
}
